@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf'),
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: Inter;
}

body {
    min-height: 100vh;
    background-color: var(--Negro-Opaco);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.contenedor {
    height: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    width: 327px;
    background-color: var(--Gris-Oscuro);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 0px auto;
}

.tarjeta,
#redes-sociales a {
    color: var(--Blanco);
}

figure img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

h2 {
    font-weight: 400;
}

h4 {
    color: var(--Verde);
    font-weight: 400;
    font-size: 14px;
    margin: 7px 0;
}

p {
    font-weight: 400;
    font-size: 14px;
    margin: 25px 0;
}

#redes-sociales li a {
    display: block;
    background-color: var(--Gris);
    padding: 16px 0;
    font-size: 14px;
    border-radius: 7px;

}

#redes-sociales li a:hover {
    transition: all 0.3s;
    background-color: blue;
    color: var(--Negro-Opaco);
    font-weight: 600;
}

#redes-sociales li:not(:last-child) {
    margin-bottom: 16px;
}

@media (min-width:576px) {
    .tarjeta {
        width: 386px;
        padding: 40px;
    }

}
