/* Colores personalizados */
:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: 'Inter', sans-serif;
}

/* Estilos de la lista de episodios */
.lista-episodios {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    margin: 10px;
    background-color: rgb(17, 17, 17);
    scrollbar-width: thin;
    scrollbar-color: var(--Gris) var(--Negro-Opaco);
    border-radius: 10px;
}

.lista-episodios .episodio {
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    background-color: #333333;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.lista-episodios .episodio:hover {
    background-color: rgb(27, 27, 27);
}

.lista-episodios .episodio p {
    margin: 5px 0;
}

.lista-episodios .episodio:last-child {
    margin-right: 0;
}

/* Estilos de la barra de desplazamiento */
.lista-episodios::-webkit-scrollbar {
    width: 8px;
}

.lista-episodios::-webkit-scrollbar-track {
    background: var(--Negro-Opaco);
}

.lista-episodios::-webkit-scrollbar-thumb {
    background-color: var(--Gris);
    border-radius: 10px;
    border: 2px solid var(--Negro-Opaco);
}