/* Variables */
:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: 'Inter', sans-serif;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos de la lista */
ul {
    list-style-type: none;
}

/* Estilos de los enlaces */
.redesSociales .redesSociales-item {
    margin-bottom: 16px;
}

.redesSociales .redesSociales-link {
    color: var(--Blanco);
    display: block;
    background-color: var(--Gris);
    padding: 16px 0;
    font-size: 14px;
    border-radius: 7px;
    margin: 10px;
    text-decoration: none;
    transition: all 0.3s;
}

.redesSociales .redesSociales-link:hover {
    background-color: var(--Verde);
    color: var(--Negro-Opaco);
    font-weight: 600;
}

/* Estilos del título */
.seccionBotones h6 {
    color: var(--Blanco);
}

/* Estilos generales de botón */
button {
    text-decoration: none;
}