@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

/* Variables */
:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: 'Inter', sans-serif;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: var(--Fuente-Inter);
}

/* Contenedor principal */
.contenedor {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos de la tarjeta */
.tarjeta {
    width: 400px;
    background-color: var(--Gris-Oscuro);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
    color: var(--Blanco);
    transition: background-color 0.3s ease;
}

.tarjeta:hover {
    background-color: rgb(39, 39, 39);
}