:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: 'Inter', sans-serif;
}

/* Estilos del detalle de usuario en la página de inicio */
.detalle-inicio {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.detalle-inicio figure img {
    height: 100%;
    width: auto;
    border-radius: 5%;
}

.detalle-inicio .nombre-titulo-inicio {
    width: 100%;
    margin: 5%;
    text-align: start;
}

.detalle-inicio .nombre-titulo-inicio h4,
.detalle-inicio .nombre-titulo-inicio p {
    font-weight: 400;
}

.detalle-inicio .nombre-titulo-inicio h2 {
    color: var(--Verde);
    font-size: 15px;
    margin-bottom: 10%;
}
.detalle-inicio .nombre-titulo-inicio p {
    color: var(--Blanco);
}

.detalle-inicio .nombre-titulo-inicio h4 {
    font-size: 14px;
}

.detalle-inicio .nombre-titulo-inicio p {
    font-size: 14px;
}

.detalles-inicio .nombre-titulo-inicio .estado-green {
    color: green;
}

.detalles-inicio .nombre-titulo-inicio .estado-red {
    color: red;
}

.detalles-inicio .nombre-titulo-inicio .estado-lightblue {
    color: lightblue;
}