:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: 'Inter', sans-serif;
}

.detalleInicio{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.detalleInicio figure img {
    height: 100%;
    width: auto;
}

.detalleInicio .nombreTituloInicio{
    width: 100%;
    margin: 5%;
    text-align: start;
}

.detalleInicio .nombreTituloInicio h2,
.detalleInicio .nombreTituloInicio h4,
.detalleInicio .nombreTituloInicio p {
    font-weight: 400;
}

.detalleInicio .nombreTituloInicio h2,
.detalleInicio .nombreTituloInicio p {
    color: var(--Blanco);
}

.detalleInicio .nombreTituloInicio h4 {
    color: var(--Verde);
    font-size: 14px;
}

.detalleInicio .nombreTituloInicio p {
    font-size: 14px;
}