@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

/* Variables */
:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: 'Inter', sans-serif;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: var(--Fuente-Inter);
}

/* Contenedor de la tarjeta */
.contenedor-inicio {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del enlace de la tarjeta */
.contenedor-inicio .enlace-tarjeta-inicio {
    text-decoration: none;
    color: inherit;
}

/* Estilos de la tarjeta */
.contenedor-inicio .enlace-tarjeta-inicio .tarjeta-inicio {
    height: 160px;
    width: 350px;
    background-color: var(--Gris-Oscuro);
    border-radius: 10px;
    color: var(--Blanco);
    transition: background-color 0.3s ease;
}

.contenedor-inicio .enlace-tarjeta-inicio .tarjeta-inicio:hover {
    background-color: rgb(39, 39, 39);
}