@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: 'Inter', sans-serif;
}

figure img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

h2,
h4,
p {
    font-weight: 400;
}

h2,
p {
    color: var(--Blanco);
}

h4 {
    color: var(--Verde);
    font-size: 14px;
    margin: 7px 0;
}

p {
    font-size: 14px;
    margin: 25px 0;
}
