@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: 'Inter', sans-serif;
}

.contenedor {
    height: 100%; /* Cambié 10% a 100% para ocupar toda la altura */
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    width: 300px; /* Cambié 3px a 300px para hacer la tarjeta visible */
    background-color: var(--Gris-Oscuro);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto; /* Cambié margin: 0px auto; a margin: 0 auto; para centrar la tarjeta horizontalmente */
    color: var(--Blanco); /* Consolidé la regla de estilo de color en una sola regla */
}