
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blanco: hsl(0, 0%, 100%);
    --Gris: hsl(0, 0%, 20%);
    --Gris-Oscuro: hsl(0, 0%, 12%);
    --Negro-Opaco: hsl(0, 0%, 8%);
    --Verde: hsl(75, 94%, 57%);
    --Fuente-Inter: Inter;
}

.todo {
    min-height: 100vh;
    background-color: var(--Negro-Opaco);
}